dash==2.14.2
dash-bootstrap-components==1.5.0
dash-bootstrap-templates==1.1.1
plotly==5.18.0
pandas==2.1.4
requests==2.31.0
fastapi==0.109.0
python-dateutil==2.8.2
sqlalchemy==2.0.25
gunicorn==21.2.0
uvicorn==0.22.0